a, a:link
  cursor pointer

// table
//   tfoot, tbody
//     th
//       border-top 1px solid #DDD

footer
  padding-bottom: 30px

body
  padding-top 20px
  padding-bottom 20px

.navbar
  margin-bottom 20px